---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% import "data/data.html" as tests %}
{% include "partials/_first-screen.html" %}
{% include "partials/_about-complex.html" %}
{% include "partials/_advantages.html" %}
{% include "partials/_planing.html" %}
{% include "partials/_map.html" %}
{% include "partials/_gallery.html" %}

{% include "partials/_fixed-elements.html" %}
{% include "partials/_planing-popup.html" %}
{% include "partials/_popup-gallery.html" %}

<!-- 	{# variable example #}
<h1>{{title}}</h1>


{# partial example #}


{# mixin example #}
{{mixins.icon('facebook')}}


{# data usage example #}

	
	{% for test in tests.list %}
	<li>{{test.title}}</li>
	{% endfor %}
	{# end of example #} -->

	{% endblock %}
