<!--begin about-complex-->
<div class="about-complex">
	<!--begin container-->
	<div class="container">
		<h2 class="h2 about-complex__h2">О жилом комплексе</h2>

		<!--end container-->
		<div class="article article--two-column">
		<div class="article__side ">
				Жилой комплекс "Tesla house" расположен в Оболонском районе города Киева на пересечении ул Полярной и ул. Петра Дегтяренко 22А. Это обьект который включает соединение новейших модернизированных технологий и жизни. Жилой комплекс комфлорт класса. 13-и этажный дом с 2-х секций. 13-14 (мансардный) этаж двухуровневые квартиры (2, 3 и 5 комнат) Монолитно-каркасный дом с газобетонными перегородками, фасадные перегородки 200мм, внутренние межкомнатные 
				<div class="article__img" style="background-image: url('img/article-img1.jpg');"></div>
			</div>
			<div class="article__side ">
				<div class="article__img" style="background-image: url('img/article-img1.jpg');"></div>
				перегородки 100мм, межквартирные 200мм, энергозберегающие технологии, утепление ватой роквул, высокого качества входные металические двери, индивизуальный подход к каждому клиенту касательно ремонта (возможность выбратьквартиру под чистовую отделку или ремонт "под ключ"),  двухкамерные стеклопакет 5-и камерный профиль "Veka" с энергозберегающим покрытием, отопление и водоснабжение городское, система пожарной безопасности, современные лифты "Отис"
			</div>
		</div>
	</div>
</div>
<!--end about-complex-->
