<!--begin advantages-->
<div class="advantages" style="background-image: url('img/adv-bg.jpg');" id="advantages">
	<!--begin container-->
	<div class="container">
		<h2 class="h2 h2--white advantages__h2">ПРЕИМУЩЕСТВА</h2>
<div  class="adv-tabs" id="adv-tabs">
	<ul class="adv-tabs__nav">
		{% for test in tests.advtabs %}
		<li class="adv-tabs__nav-item"><a class="adv-tabs__nav-link" href="#{{test.id}}">{{mixins.icon(test.img)}}</a></li>
		{% endfor %}
	</ul>
	{% for test in tests.advtabs %}
	<div class="adv-tabs__content" id="{{test.id}}">
		<p>{{test.content}}</p>
	</div>
	{% endfor %}
</div>

	</div>
	<!--end container-->	
</div>
<!--end advantages-->
