<!--begin first-screen-->
<div class="first-screen first-screen-js" id="main">
	<h1 class="h1">Tesla House</h1>
	<!--begin container-large-->
	<div class="container-large">
		<div class="switch">
			<a class="switch__month" href="#">{{mixins.icon('month')}}</a>
			<a class="switch__sun" href="#">{{mixins.icon('sun')}}</a>
		</div>
		<a class="phone first-screen__phone" href="tel:80670000000">8 067 000 00 00</a>
		<a class="logo" href="#"></a>
		<div class="menu-btn"><div></div></div>
		{% include "partials/_menu.html" %}
	</div>
	<!--end container-large-->
</div>
<!--end first-screen-->