<a class="stock" href="#">
	Акция
</a>
<!--begin fixed-line-->
<div class="fixed-line in-not-fixed">
	<!--begin container-->
	<div class="container">
		<a class="fixed-line__logo" href="#"></a>
		<!--begin nav-->
		<ul class="nav">
			<li class="nav__item"><a class="nav__links" href="#">Главная</a></li>
			<li class="nav__item"><a class="nav__links" href="#">ПРИЕМУЩЕСТВА</a></li>
			<li class="nav__item"><a class="nav__links" href="#">МЕСТОПОЛОЖЕНИЕ</a></li>
			<li class="nav__item"><a class="nav__links" href="#">ПЛАНИРОВКИ</a></li>
			<li class="nav__item"><a class="nav__links" href="#">галерея</a></li>
			<li class="nav__item"><a class="nav__links" href="#">ЗАСТРОЙЩИК</a></li>
			<li class="nav__item"><a class="nav__links" href="#">КОНТАКТЫ</a></li>
		</ul>
		<a class="phone fixed-line__phone" href="tel:80670000000">8 067 000 00 00</a>
		<!--end nav-->
	</div>
	<!--end container-->
</div>
<!--end fixed-line-->

