<!--begin gallery-->
<div class="gallery">
	<div class="container">
		<h2 class="h2 gallery__h2">ГАЛЕРЕЯ</h2>
		<!--begin slider-wrapper-->
		<div class="slider-wrapper">
			<div class="slider gall-slider-js">
				<div class="slider__item" >
					<div class="slider__img-block" style="background-image: url('img/gall2.jpg');"></div>
				</div>
				<div class="slider__item" >
					<div class="slider__img-block" style="background-image: url('img/gall1.jpg');"></div>
				</div>
				<div class="slider__item">
					<div class="slider__img-block"  style="background-image: url('img/gall3.jpg');"></div>
				</div>
				<div class="slider__item" >
					<div class="slider__img-block" style="background-image: url('img/gall2.jpg');"></div>
				</div>
			</div>
		</div>
		<!--end slider-wrapper-->

	</div>
</div>
<!--end gallery-->
