<!--begin nav-->
<ul class="nav">
	<li class="nav__item"><a class="nav__links" href="#main">Главная</a></li>
	<li class="nav__item"><a class="nav__links" href="#advantages">ПРИЕМУЩЕСТВА</a></li>
	<li class="nav__item"><a class="nav__links" href="#map-id">МЕСТОПОЛОЖЕНИЕ</a></li>
	<li class="nav__item"><a class="nav__links" href="#plann-id">ПЛАНИРОВКИ</a></li>
	<li class="nav__item"><a class="nav__links" href="#dev-id">ЗАСТРОЙЩИК</a></li>
	<li class="nav__item"><a class="nav__links" href="#dev-id">КОНТАКТЫ</a></li>
</ul>
<!--end nav-->
		