<!--begin nav-->
<ul class="nav">
	<li class="nav__item"><a class="nav__links" href="#">Главная</a></li>
	<li class="nav__item"><a class="nav__links" href="#">ПРИЕМУЩЕСТВА</a></li>
	<li class="nav__item"><a class="nav__links" href="#">МЕСТОПОЛОЖЕНИЕ</a></li>
	<li class="nav__item"><a class="nav__links" href="#">ПЛАНИРОВКИ</a></li>
	<li class="nav__item"><a class="nav__links" href="#">ЗАСТРОЙЩИК</a></li>
	<li class="nav__item"><a class="nav__links" href="#">КОНТАКТЫ</a></li>
</ul>
<!--end nav-->
		