<!--begin popup-slider-wrapper-->
<div class="popup-slider-wrapper">
			<div class="popup-slider gall-popup-slider-js">
				<div class="popup-slider__item" >
					<div class="popup-slider__img-block" style="background-image: url('img/gall2.jpg');"></div>
				</div>
				<div class="popup-slider__item" >
					<div class="popup-slider__img-block" style="background-image: url('img/gall1.jpg');"></div>
				</div>
				<div class="popup-slider__item">
					<div class="popup-slider__img-block"  style="background-image: url('img/gall3.jpg');"></div>
				</div>
				<div class="popup-slider__item" >
					<div class="popup-slider__img-block" style="background-image: url('img/gall2.jpg');"></div>
				</div>
			</div>


</div>
<!--end popup-slider-wrapper-->
