<!--begin popup-wrapper-->
<div class="popup-wrapper gall-popup-wrapper-js ">
		<div class="popup-close popup-close--large popup-close-js">X</div>
	<div class="popup-slider gall-popup-slider-js">
		<div class="popup-slider__item" >
			<div class="popup-slider__img-block" style="background-image: url('img/gall2.jpg');">
			</div>
		</div>
		<div class="popup-slider__item" >
			<div class="popup-slider__img-block" style="background-image: url('img/gall1.jpg');">
			</div>
		</div>
		<div class="popup-slider__item">
			<div class="popup-slider__img-block"  style="background-image: url('img/gall3.jpg');">
			</div>
		</div>
		<div class="popup-slider__item" >
			<div class="popup-slider__img-block" style="background-image: url('img/gall2.jpg');">
			</div>
		</div>
	</div>
</div>
<!--end popup-wrapper-->
<!--begin popup-wrapper-->
<div class="popup-wrapper construction-popup-wrapper-js">
		<div class="popup-close popup-close--large popup-close-js">X</div>
	<div class="popup-slider construction-popup-slider-js">
		<div class="popup-slider__item" >
			<div class="popup-slider__img-block" style="background-image: url('img/gall2.jpg');">
			</div>
		</div>
		<div class="popup-slider__item" >
			<div class="popup-slider__img-block" style="background-image: url('img/gall1.jpg');">
			</div>
		</div>
		<div class="popup-slider__item">
			<div class="popup-slider__img-block"  style="background-image: url('img/gall3.jpg');">
			</div>
		</div>
		<div class="popup-slider__item" >
			<div class="popup-slider__img-block" style="background-image: url('img/gall2.jpg');">
			</div>
		</div>
	</div>
</div>
<!--end popup-wrapper-->

