<!--begin stock-block-->
<div class="stock-block" id="stock-id">
	<!--begin container-->
	<div class="container">
	<h2 class="h2 stock-block__h2 ">АКЦИЯ</h2>
		<div class="stock-slider stock-slider-js">
			<div class="stock-slider__item" >
				<div class="stock-slider__img-block" style="background-image: url('img/stock1.jpg');">
				</div>
			</div>
			<div class="stock-slider__item" >
				<div class="stock-slider__img-block" style="background-image: url('img/stock2.jpg');">
				</div>
			</div>
			<div class="stock-slider__item">
				<div class="stock-slider__img-block"  style="background-image: url('img/stock1.jpg');">
				</div>
			</div>
		</div>
	</div>
	<!--end container-->
</div>
<!--end stock-block-->
