{% set 
	advtabs = [
	{
	img: '1',
	id: 'tabs-1',
	content:	"На территории парковая зона, закрытая территория, двор без машин, подсветка МОПов и парка за счет солнечных батарей. Собственная обслуживающая компания. Дизайнерский проект МОПов и холла. Консьерж сервис. Светодиодная подсветка нумерации этажей."
},
{
	img: '2',
	id: 'tabs-2',
	content:	"2На территории парковая зона, закрытая территория, двор без машин, подсветка МОПов и парка за счет солнечных батарей. "
},
{
	img: '3',
	id: 'tabs-3',
	content:	"3На территории парковая зона, закрытая территория, двор без машин"
},
{
	img: '4',
	id: 'tabs-4',
	content:	"4На территории парковая зона, закрытая территория, двор без машин, подсветка МОПов и парка за счет солнечных батарей. Собственная обслуживающая компания. Дизайнерский проект МОПов и холла. Консьерж сервис. Светодиодная подсветка нумерации этажей."
},
{
	img: '5',
	id: 'tabs-5',
	content:	"5На территории парковая зона, закрытая территория, двор без машин, подсветка МОПов и парка за счет солнечных батарей. Собственная обслуживающая компания. Дизайнерский проект МОПов и холла. Консьерж сервис. Светодиодная подсветка нумерации этажей."
},
{
	img: '6',
	id: 'tabs-6',
	content:	"6На территории парковая зона, закрытая территория, двор без машин, подсветка МОПов и парка за счет солнечных батарей. Собственная обслуживающая компания. Дизайнерский проект МОПов и холла. Консьерж сервис. Светодиодная подсветка нумерации этажей."
},
{
	img: '7',
	id: 'tabs-7',
	content:	"7На территории парковая зона, закрытая территория, двор без машин, подсветка МОПов и парка за счет солнечных батарей. Собственная обслуживающая компания. Дизайнерский проект МОПов и холла. Консьерж сервис. Светодиодная подсветка нумерации этажей."
},
{
	img: '8',
	id: 'tabs-8',
	content:	"8На территории парковая зона, закрытая территория, двор без машин, подсветка МОПов и парка за счет солнечных батарей. Собственная обслуживающая компания. Дизайнерский проект МОПов и холла. Консьерж сервис. Светодиодная подсветка нумерации этажей."
},
{
	img: '9',
	id: 'tabs-9',
	content:	"9На территории парковая зона, закрытая территория, двор без машин, подсветка МОПов и парка за счет солнечных батарей. Собственная обслуживающая компания. Дизайнерский проект МОПов и холла. Консьерж сервис. Светодиодная подсветка нумерации этажей."
},
{
	img: '10',
	id: 'tabs-10',
	content:	"10На территории парковая зона, закрытая территория, двор без машин, подсветка МОПов и парка за счет солнечных батарей. Собственная обслуживающая компания. Дизайнерский проект МОПов и холла. Консьерж сервис. Светодиодная подсветка нумерации этажей."
},
{
	img: '11',
	id: 'tabs-11',
	content:	"На территории парковая зона, закрытая территория, двор без машин, подсветка МОПов и парка за счет солнечных батарей. Собственная обслуживающая компания. Дизайнерский проект МОПов и холла. Консьерж сервис. Светодиодная подсветка нумерации этажей."
}
] 
%}

{% set 
	mainplanntabs = [
	{
	id: 'planningtabs-1',
	navText: 'Студия',
	footerLeftLink1:'#1',
	footerLeftLink2:'#2',
	generalPlan: '#'
},
	{
	id: 'planningtabs-2',
	navText: '1-ком.',
	footerLeftLink1:'#1',
	footerLeftLink2:'#2',
	generalPlan: '#'
},
	{
	id: 'planningtabs-3',
	navText: '2-ком.',
	footerLeftLink1:'#1',
	footerLeftLink2:'#2',
	generalPlan: '#'
},
	{
	id: 'planningtabs-4',
	navText: 'двухуровневая',
	footerLeftLink1:'#1',
	footerLeftLink2:'#2',
	generalPlan: '#'
}
] 
%}

{% set 
	mainplannslider = [
	{
	img: 'img/ts1.jpg',
	name:	'2-1В',
	area: '25,53',
	popuplink: '#'
},
{
	img: 'img/ts2.jpg',
	name:	'2-1В',
	area: '25,53',
	popuplink: '#'
},
{
	img: 'img/ts3.jpg',
	name:	'2-1В',
	area: '25,53',
	popuplink: '#'
},
{
	img: 'img/ts1.jpg',
	name:	'2-1В',
	area: '25,53',
	popuplink: '#'
}
] 
%}