.stock-fixed
	display: block
	width: 80px
	height: 80px
	background-color: #c35a3f
	border: 1px solid white
	color: $white
	font: 300 12px "Din Light", sans-serif
	text-transform: uppercase
	text-align: center
	padding-top: 45px
	position: fixed
	top: 110px
	left: 38px
	border-radius: 50%
	z-index: 23
	+r(1200)
		left: 15px
	+r(991)
		display: none
	&:before
		content: ''
		+vcenter
		+s(box)
		top: 38%
.fixed-line
	background-color: #e3ac2c
	background-image: linear-gradient(165deg, #deb22c 0%, #e3ac2c 100%)
	padding: 25px 0 18px 0
	position: fixed
	top: 0px
	width: 100%
	display: none
	transition: all .3s
	z-index: 20
	+clr
	+r(991)
		padding: 12px 0 5px 0
	+r(767)
		display: none
.is-line-fixed
	display: block
.is-night-js
	.fixed-line
		background-image: linear-gradient(165deg, #434f7d 0%, #2e487e 100%)
		background-color: #2e487e
.fixed-line__logo
	display: inline-block
	width: 110px
	height: 46px
	+image("d-topline-logo.png")
	+cover
.is-night-js
	.fixed-line__logo
		+image("n-topline-logo.png")
.fixed-line__phone
	position: absolute
	right: 7px
	top: -25px
	font-size: 24px
	display: inline-block
	padding: 9px 37px
	background-color: #ab5c4e
	background-image: linear-gradient(165deg, #af6a49 0%, #ab5c4e 100%)
	+r(991)
		top: -12px


