.planning
	padding-top: 58px
.planning__h2
	margin-bottom: 59px
.tabs-nav
	text-align: center
.tabs-nav__item
	display: inline-block
	width: 233px
	margin-right: 15px
	&:last-of-type
		margin-right: 0
.tabs-nav__link
	display: block
	border-bottom: 1px solid  
	border-color: #00805f
	text-transform: uppercase
	color: $main-text-color
	padding: 27px 10px
	font: $main-big-text-font
	+rmin(1200)
		overflow: hidden
		position: relative
		transition: all .3s
		&:before, &:after
			content: ''
			position: absolute
			background: $tabs-border-color-day
			width: 1px
			height: 0
			bottom: 0
			transition: all .3s
		&:before
			left: 0
		&:after
			right: 0
		&:hover
			&:before, &:after
				height: 100%
			.tabs-nav__item-topline
				width: 100%
.tabs-nav__item-topline
	position: absolute
	content: ''
	top: 0
	left: 50%
	transform: translateX(-50%)
	height: 1px
	width: 0%
	background: $tabs-border-color-day
	transition: all .3s
.is-night-js
	.tabs-nav__link
		border-bottom: 1px solid  $tabs-border-color-nigth
		.tabs-nav__item-topline, &:before, &:after
			background:  $tabs-border-color-nigth
.ui-tabs-active
	.tabs-nav__link
		color: $white
.is-day-js
	.ui-tabs-active
		.tabs-nav__link
			background-color: #00805f
			background-image: linear-gradient(165deg, #2b9757 0%, #00805f 100%)
.is-night-js
	.ui-tabs-active
		.tabs-nav__link
			background-color: #2e487e
			background-image: linear-gradient(165deg, #4d537c 0%, #2e487e 100%)
.tabs-content
	width: 780px
	margin: 40px auto 0
	+clr
.tabs-slider__slide
	text-align: center
	color: $main-text-color
	margin: 10px
.tabs-popup-link
	color: inherit
	font: $main-text-font
.tabs-slider__img
	margin:  0 auto
	width: 233px
	height: 300px
	+cover
.tabs-slider__name
	font-size: 20px
	color: $main-text-color
.tabs-slider__more-small
	@extend %red-text-underline
.tabs-slider__more
	display: none
.tabs-slider
	.slick-prev, .slick-next
		top: 34%
		&:before 
			content: ''
			+coverdiv
	.slick-prev
		left: -102px
	.slick-next
		right: -119px
.slick-prev
	&:before
		+arr(50, 50, #33997f, l)
.slick-next
	&:before
		+arr(50, 50, #33997f, r)
.is-night-js
	.slick-prev
		&:before
			+arr(50, 50, #586d98, l)
	.slick-next
		&:before
			+arr(50, 50, #586d98, r)
.tabs-popup-link
	display: block
	transition: all .3s
	border: 1px solid transparent
	&:hover
		border-color: #e3ac2c
.tabs-content__footer
	margin-top: 30px
.tabs-content__footer-left
	float: left
	width: 30%
.tabs-content__right
	float: right

.tabs-content__footer-left
	color: #2e487e
	font: $main-big-text-font
	text-transform: uppercase
	text-align: center
	a
		display: inline-block
		margin-top: 10px
		@extend %red-text-underline
		text-transform: none
.general-plan
	text-transform: uppercase
	font: $main-big-text-font
	color: $main-text-color
	display: inline-block
	width: 488px
	padding: 30px
	border: 1px solid #d5d5d5
	text-align: center