.icon-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-10 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-11 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-5 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-6 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-7 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-8 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-9 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
